# Importing pandas, loading file

In [2]:
import pandas as pd
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
pd.set_option('display.max_columns', None)
df = pd.read_excel(url)

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [ ]:
df

# Data Cleaning

In [2]:
#1. Lose PDF, source, location (and more) columns✅
#2. Handle all the null
#Time and age replace by avg✅
#Delete rows with a majority of nulls
#4.Check for duplicates
#3.Format Data

In [3]:
#1. Lose PDF, source, location (and more) columns

columns_to_drop = ['Location', 'pdf', 'Source','href formula','Unnamed: 11','href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22']
df.drop(columns_to_drop, axis=1, inplace=True)

In [4]:
#2. Handle all the null
df.isnull().sum()
df.isnull().any()
df.isnull().sum(axis=1)
df.dropna(how='all', inplace=True) #drop all rows with all of the 13 values null (-24 rows)

# Convert 'Age' column to numeric type to ensure all values are numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
# Replace null values in the 'Age' column with the average age
df['Age'].fillna(df['Age'].mean(), inplace=True)

df['Time'] = pd.to_numeric(df['Time'], errors='coerce')
df['Time'].fillna(df['Time'].mean(), inplace=True)
df.dropna(subset=['Country'], inplace=True)
#df.dropna(thresh=10)#with 13 we have 3054 rows, 12 >> 5773, 11 >> 6555

In [5]:
df.isnull().sum()

Date           0
Year           2
Type          18
Country        0
State        447
Activity     578
Name         215
Sex          575
Age            0
Injury        33
Time           0
Species     3094
dtype: int64

In [6]:
df.duplicated().sum() # no duplicated values

2

In [7]:
df.drop_duplicates(inplace=True)

# "Year" - filling missing values (NaN and "0") with data from "Date"

In [8]:
print(f"Starting this process there were {sum(df['Year'] == 0.0)} values of 'Year' = 0.\n"
         f"And 'Year' had {df['Year'].isnull().sum()} NaN values.")

Starting this process there were 125 values of 'Year' = 0.
And 'Year' had 2 NaN values.

In [9]:
df['Year'].describe()

count    6886.000000
mean     1935.987220
std       268.976015
min         0.000000
25%      1948.000000
50%      1985.000000
75%      2009.000000
max      2024.000000
Name: Year, dtype: float64

In [10]:
pd.set_option('display.max_rows', 200)

In [11]:
df[df["Year"]==0.0]["Date"] # there are entries with year 0, but info at "Date"

6812                                        Ca. 336.B.C..
6813                                         Ca. 493 B.C.
6814                                         Ca. 725 B.C.
6815                                        Ca. 1010  BC
6816                                           Ca 4000 BC
6817                                        Prior to 1988
6818                                           After 2013
6819                                          Before 1824
6820                                          Before 1939
6821                                         1990 or 1991
6822                                          Before 2016
6823                                      Before Oct-2009
6824                                          Before 1934
6825                                          Before 1934
6826                                                2009?
6827                                          Before 1930
6828                                            1880-1899
6829                                          Before 1909
6830                                          Before 2012
6831                                          Before 1916
6832                                          Before 1908
6833                                          Before 1900
6834                                          Before 1876
6835                                          Before 2012
6836                                          Before 2011
6838                                          Before 2009
6839                                         Beforer 1994
6840                                          Before 1963
6841                                            1896-1913
6842                                          Before 1936
6843                                   Before 08-Jun-1912
6845                                          Before 1911
6846                                          Before 1901
6847                                  No date, late 1960s
6848                                          Before 2006
6849                                          Before 2003
6850                                          Before 2004
6851                                          Before 1962
6852                                                1950s
6853                                 No date, Before 1963
6854                                                2003?
6855                                              No date
6856                                              No date
6857                                      Before Feb-1998
6858                             No date, Before May-1996
6859                             No date, Before Mar-1995
6860                                          Before 1996
6861                             No date, Before Aug-1989
6862                             No date, Before Aug-1987
6863                                 No date, Before 1987
6864                                No date, Before  1975
6865                                 No date, Before 1975
6866                                 No date, Before 1969
6867                           No date, Before 3-Jan-1967
6868                                 No date, Before 1963
6869                           No date, Before 8-May-1965
6870                                 No date, Before 1963
6871                                 No date, Before 1902
6872                                 No date, Before 1902
6873                                 No date, Before 1963
6874           No date, After August 1926 and before 1936
6875                                 No date, Before 1963
6876                                          Before 1962
6877                                          Before 1962
6878                                          Before 1961
6879                                                1960s
6880                                                1960s
6881                                                1960s
6882                                          Before 1960
6883                                  Before  19-Jun-1959
6884                                  Before  24 Apr-1959
6885                                         Before  1958
6886                                         Before  1958
6887                                          Before 1958
6888                                          Before 1958
6889                                          Before 1958
6890                                          Before 1958
6891                                          Before 1957
6892                                          Before 1957
6893                                          Before 1956
6894                                          Before 1956
6895                                      Before Mar-1956
6896                                          Before 1952
6898                           "During the war" 1943-1945
6899                                     "Before the war"
6900               Said to be 1941-1945, more likely 1945
6901                                            1941-1945
6902                                            1941-1945
6903                                            1941-1942
6904                                          1940 - 1950
6905                                          1940 - 1950
6906                                          1940 - 1950
6907                                            1940-1946
6908                                          Before 1905
6909                                         World War II
6910                                         World War II
6911                                          Before 1905
6912                              A few years before 1938
6913                                              No date
6914                                          Early 1930s
6915                                          Before 1927
6916                                  Between 1918 & 1939
6917                                              No date
6918                                              No date
6919                                              No date
6920                                           1920 -1923
6921                                          Before 1921
6922                                          Before 1911
6923                                          Before 1921
6924                                          Before 1921
6925                                          Before 1917
6926                                   Before 17-Jul-1916
6927    No date (3 days after preceding incident) & pr...
6928                                   Before 19-Jul-1913
6929                                          Before 1911
6930                                           Circa 1862
6931                                          Before 1906
6932                                          Before 1906
6933                                          Before 1906
6934                                          Before 1906
6935                                          Before 1903
6936                                          Before 1903
6937                                            1900-1905
6938                                            1883-1889
6939                                            1845-1853
Name: Date, dtype: object

In [12]:
df["Date"] = df["Date"].apply(str) # transforming the "Date" to string to be able to manipulate it

In [13]:
substring  = ["BC", "B.C."] # deleting the rows that are B.C.

filter = df["Date"].str.contains('|'.join(substring))
df = df[~filter]

In [14]:
df = df[~((df["Date"] == "No date") & (df["Year"] == 0.0))] # deleting rows that have year=0 and date=no date

In [15]:
df.loc[df['Year'] == 0.0, 'Year'] = df.loc[df['Year'] == 0.0, 'Date'].str.extract(r'(\d{4})').values
# adding to year (when year = 0) the 4 consecutive digids from Date

In [16]:
df.loc[df['Year'].isna(), 'Year'] = df.loc[df['Year'].isna(), 'Date'].str.extract(r'(\d{4})').values
# adding to year (when year = NaN) the 4 consecutive digids from Date

In [17]:
print(f"Finishing this process there are {sum(df['Year'] == 0.0)} values of 'Year' = 0.\n"
        f"And 'Year' has {df['Year'].isnull().sum()} NaN values.\n"
        "The missing values were filled in from info from the 'Date' column.")

Finishing this process there are 0 values of 'Year' = 0.
And 'Year' has 3 NaN values.
The missing values were filled in from info from the 'Date' column.

# "Year" - keeping only data from the last 77 years (75quantile) ?

In [18]:
print(f"Starting this process the dataframe has {df.shape[0]} rows.")

Starting this process the dataframe has 6877 rows.

In [19]:
df.dropna(subset="Year",inplace=True) # deleting 3 rows with NaN yesr value 
# looking at the data they also look to be around the world wars

In [20]:
df['Year'] = df['Year'].astype(int)

In [21]:
df = df[df['Year'] >= 1947]

In [22]:
print(f"After this process the dataframe has {df.shape[0]} rows.")

After this process the dataframe has 5256 rows.

# Date

In [23]:
df['Month'] = df['Date'] # creating a new column for "Month"

In [24]:
df['Month'] = df['Month'].replace({"Fall":"October","Summer":"July","summer":"July","Nox":"November","Winter":"January","2017.06.05":"June","2008.01.30":"January","02-Ap-2001":"April"},regex=True)
# for date inputs that have seasons, adding the middle month of the season

In [25]:
df['Month']

0           14 Feb-2024
1           04-Feb-2024
2           29 Jan-2024
3           15 Jan-2024
4           09-Jan-2024
             ...
6892        Before 1957
6893        Before 1956
6894        Before 1956
6895    Before Mar-1956
6896        Before 1952
Name: Month, Length: 5256, dtype: object

In [26]:
# removing words in "Date" that don't offer much info, anf will mess up with the r pattern later
substring = ["Early","Reported","Before","Mid","Between","date","and","Late"]

for sub in substring:
    df['Month'] = df['Month'].str.replace(sub, '')

In [27]:
df['Month'] = df['Month'].str.extract(r'([A-Za-z]{3})')

In [28]:
df['Month'].isna().sum() # these NaN values, are mostly dates that had only year ( df.loc[df['Month'].isna()] )

209

In [29]:
df['Month'] = df['Month'].replace({"sam":None,"Las":None,"Cir":None,"Pri":None,"Aft":None,"lat":None},regex=True)
# replacing the values are not months (checked) with NaN values

In [30]:
df['Month'].value_counts() # July and August are the most active months

Month
Jul    618
Aug    528
Sep    487
Jun    437
Jan    417
Oct    411
Apr    403
Dec    376
May    359
Mar    347
Nov    335
Feb    322
Name: count, dtype: int64

In [31]:
df

,Date,Year,Type,Country,State,Activity,Name,Sex,Age,Injury,Time,Species,Month
0,14 Feb-2024,2024,Unprovoked,INDIA,Maharashtra,Fishing,Vicky Suresh Govari,M,32.000000,Calf of lower left leg injured,1249.285714,"Bull shark, 7'",Feb
1,04-Feb-2024,2024,Provoked,TRINIDAD,NaN,Spearfishing,male,M,28.046658,Shoulder bitten,1249.285714,Blacktip reef shark,Feb
2,29 Jan-2024,2024,Unprovoked,AUSTRALIA,New South Wales,Swimming,Lauren O'Neill,F,29.000000,Right leg bitten,1249.285714,Bull shark,Jan
3,15 Jan-2024,2024,Unprovoked,BAHAMAS,Paradise Island,Swimming,male,M,10.000000,Right leg injured,1249.285714,NaN,Jan
4,09-Jan-2024,2024,Unprovoked,AUSTRALIA,South Australia,Surfing,Murray Adams,M,64.000000,Leg bitten,1249.285714,White shark,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6892,Before 1957,1957,Provoked,CUBA,Havana Province,"Shark fishing, knocked overboard",Sandrillio,M,50.000000,"FATAL, hip bitten PROVOKED INCIDENT",1249.285714,NaN,NaN
6893,Before 1956,1956,Unprovoked,MARSHALL ISLANDS,Bikini Atoll,Swimming,male,M,28.046658,Buttocks bitten,1249.285714,NaN,NaN
6894,Before 1956,1956,Unprovoked,KIRIBATI,Phoenix Islands,Diving,Dusty Rhodes,M,28.046658,No injury,1249.285714,NaN,NaN
6895,Before Mar-1956,1956,Unprovoked,NORTH PACIFIC OCEAN,NaN,"Fishing, wading with string of fish",male,M,28.046658,Survived,1249.285714,NaN,Mar
6896,Before 1952,1952,Unprovoked,KIRIBATI,Gilbert Islands,NaN,Gilbertese fisherman,M,28.046658,FATAL,1249.285714,NaN,NaN

In [32]:
print(f"There are {df['Month'].isnull().sum()} NaN values in 'Month'.")

There are 216 NaN values in 'Month'.

# Activity

In [33]:
df["Activity"].isna().sum()

370

In [44]:
df["Activity"].value_counts().head(10)

Activity
Surfing          1112
Swimming          680
Spearfishing      379
Fishing           338
Wading            155
Snorkeling        129
Diving            105
Standing           91
Scuba diving       84
Body boarding      63
Name: count, dtype: int64

In [ ]:
df_activity = df.copy()

# Country / State

In [49]:
df.loc[(df["State"].isna()) & (df["Country"].isna())]

Empty DataFrame
Columns: [Date, Year, Type, Country, State, Activity, Name, Sex, Age, Injury, Time, Species , Month]
Index: []

In [50]:
df_location = df.copy()